<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="header">Events</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
        <div class="wp3">
          <p><strong>27th November</strong></p>

          <h5>Mehndi <span class="time">1PM - 5PM</span></h5>
          <p>It's one of the oldest traditional Indian pre wedding ceremony where the bride and groom
            attend the event together and a professional mehndi artist applies
            mehndi to the bride's hands and feet. This will be having a celebratory
            festival feel to it with people wearing vibrant clothes and dancing, singing, playing
            games and a lot more.</p>
        </div>
        <div class="wp5">
          <h5>Cocktail Night <span class="time">7PM - 12AM</span></h5>
          <p>This event is no way close to ethnic. The bride & groom would like to have some "shots before the
            knot". With booze flowing down the floor and the western attire on, everyone would be busy
            showing off their new moves on the stage which they have finely honed. Lastly, expect some beer
            pong matches & karaoke for sure.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
        <div class="wp4">
          <p><strong>28th November</strong></p>

          <h5>Haldi <span class="time">10AM-11AM</span></h5>
          <p>The haldi ceremony is usually held separately for the bride and the groom. This one is for the
            bride. It is a low-key event that involves the application of turmeric paste on the hands, legs
            and face of the bride. The groom is not allowed to see the bride after this ritual until the
            final wedding ceremony starts.</p>
        </div>
        <div class="wp6">
          <h5>Wedding <span class="time">6PM-12AM</span></h5>
          <p>This is the main event in the entire wedding when the bride and the groom tie the
            knot. The groom comes with the barat and is greeted by the bride side with some dhol of course
            as maximum number of guests would be attending this event. This is when the couple circle the
            sacred fire and are finally declared husband and wife.</p>
        </div>
      </div>
    </div>
    <div class="row section-padding">
      <div class="col-md-4 col-md-offset-4 text-center">
        <a class="btn btn-accent btn-small" data-toggle="modal" data-target="#dc-modal">
          <i class="fa fa-barcode"></i>&nbsp;&nbsp;Dress code
        </a>
      </div>
    </div>
  </div>
</section>
