<section id="marriage">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <h2 class="section-heading">WEDDING</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h3 class="section-subheading">MEHENDI & COCKTAIL NIGHT</h3>
                <p class="wedding-date">1st December</p>
                <div class="wp5">
                    <p>This event is no way close to ethnic. The bride & groom would like to have some "shots before the
                        knot". With booze flowing down the floor and the western attire on, everyone would be busy
                        showing off their new moves on the stage which they have finely honed. Lastly, expect some beer
                        pong matches & karaoke for sure.</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="wp4">
                    <h3 class="section-subheading">WEDDING CEREMONY</h3>
                    <p class="wedding-date">2nd December</p>
                    <p>the main event in the entire wedding when the bride and the groom tie the
                        knot. The groom comes with the barat and is greeted by the bride side with some dhol of course
                        as maximum number of guests would be attending this event. This is when the couple circle the
                        sacred fire and are finally declared husband and wife.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            <h2 class="section-heading">VENUE</h2>
        </div>
    </div>
    <div class="container">
        <div class = "row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7441.704023228343!2d79.0796323!3d21.1582869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c0e5bed7850d%3A0x862fc9c2dd4d5efa!2sTuli%20International!5e0!3m2!1sen!2sus!4v1569709009246!5m2!1sen!2sus" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>

</section>
