<section id="marriage">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <h2 class="section-heading">WEDDING</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h3 class="section-subheading">MEHENDI & COCKTAIL NIGHT</h3>
                <p class="wedding-date">1st December, 7:30 PM onwards</p>
                <div class="wp5">
                    <p>Join us for an evening of mehendi for the forthcoming wedding, with a twist of music, dance and cocktail party. </p>
                    <p>Dress code: Indo-western, western, casual </p>
                </div>
            </div>
            <div class="col-sm">
                <div class="wp4">
                    <h3 class="section-subheading">WEDDING CEREMONY</h3>
                    <p class="wedding-date">2nd December, 5:30 PM onwards</p>
                    <p>Join us on this big day when we tie the knot in a traditional Bengali style. Barat arrival 5:30 PM, Dinner 7:30 PM onwards</p>
                    <p>Dress code: Ethnic Indian</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            <h3 class="section-subheading">VENUE</h3>
        </div>
    </div>
    <div class="container">
        <div class = "row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7441.704023228343!2d79.0796323!3d21.1582869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c0e5bed7850d%3A0x862fc9c2dd4d5efa!2sTuli%20International!5e0!3m2!1sen!2sus!4v1569709009246!5m2!1sen!2sus" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>

</section>
