<section id="reception">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <h2 class="section-heading">RECEPTION</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h3 class="section-subheading">Reception</h3>
                <p class="wedding-date">8th December</p>
                <div class="wp5">
                    <p>This event is no way close to ethnic. The bride & groom would like to have some "shots before the
                        knot". With booze flowing down the floor and the western attire on, everyone would be busy
                        showing off their new moves on the stage which they have finely honed. Lastly, expect some beer
                        pong matches & karaoke for sure.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm text-center">
            <h2 class="section-heading">VENUE</h2>
        </div>
    </div>
    <div class="container">
        <div class = "row">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3981.911837807884!2d75.00901602168521!3d14.162265444537308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1569717285579!5m2!1sen!2sus" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</section>
